<template>
  <div class="cart">
    <h3>سبد خرید</h3>
    <b-table
        :striped="striped"
        :bordered="bordered"
        :borderless="borderless"
        :outlined="outlined"
        :small="small"
        :hover="hover"
        :dark="dark"
        :fixed="fixed"
        :foot-clone="footClone"
        :no-border-collapse="noCollapse"
        :items="getProductsDetails()"
        :fields="fields"
        :head-variant="headVariant"
        :table-variant="tableVariant"
    ></b-table>

    <hr>
    <p>قابل پرداخت: {{sum}}</p>

  </div>
</template>

<script>

export default {
  props: ["productsDetails"],
  data() {
    return {
      sum:0,
      fields: ['name', 'price' , 'count', 'sum_price'],
      striped: true,
      bordered: true,
      borderless: false,
      outlined: true,
      small: true,
      hover: true,
      dark: false,
      fixed: true,
      footClone: false,
      headVariant: 'light',
      tableVariant: 'secondary',
      noCollapse: true
    }
  },
  watch: {
    productsDetails: {
      immediate: true,
      deep: true,
      handler(newValue) {
        this.sum = 0;
        for (const productsDetailsKey of Object.values(newValue)) {
          this.sum += productsDetailsKey.price * productsDetailsKey.count;
        }
      },
    }
  },
  methods:{
    getProductsDetails(){
      return Object.values(this.productsDetails)
    }
  }
}
</script>

<style scoped>
.cart {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border: 2px solid #f1f1f1;
  margin-bottom: 50px;
  box-shadow: 10px 10px 2px #E1E1E1;
  border-radius: 5px;
}
</style>
