<template>
  <div class="products">
    <h2>کالاها</h2>
    <div class="singleP">
      <div v-for="p in products" :key="p.id" class="details">
        <img src="@/assets/product.png" alt="کالا">
        <br>
        <p>نام: {{ p.name }}</p><br>
        <p>تعداد: {{ p.count }}</p><br>
        <p>قیمت: {{ p.price }} ریال</p><br>
        <button class="btn btn-outline-dark" @click="updateCart(p.id)">اضافه به سبد</button>
      </div>
    </div>

    <p>در این صفحه با بارگذاری مجدد می توانید سبد خود را خالی کنید.</p>
    <br>
    <Cart :productsDetails="chosenProduct"/>
    <p>پس از کلیک بر روی تکمیل خرید٬ فاکتور برای خرید شما صادر خواهد شد.</p>
    <button class="btn btn-outline-primary" @click="goToPay()" v-if="!showPastOrder">تکمیل خرید</button>
    <button class="btn btn-danger" v-if="showPastOrder" @click="pastOrder()">تعیین وضعیت سفارش قبلی</button>

  </div>
</template>

<script>
import axios from "@/axios-project";
import Cart from "./CartComponent";
import router from "@/routes/routes";

export default {
  components: {
    Cart
  },
  data() {
    return {
      products: {},
      chosenProduct: [],
      storeOrder: '',
      storeSuccess: false,
      sumPrice: 0,
      showPastOrder: false
    }
  },
  mounted() {
    axios.get("/products").then(res => {
      this.products = res.data.data
    }).catch(error => alert(error))
  },
  methods: {
    updateCart(pId) {
      for (const index in this.products) {
        let check = false;
        for (const chosenIndex of this.chosenProduct) {
          if (chosenIndex.id === pId) {
            check = true;
          }
        }
        if (this.products[index].id === pId) {
          if (!check) {
            let newProduct = {
              "id": this.products[index].id,
              "name": this.products[index].name,
              "price": this.products[index].price,
              "count": 1,
              "sum_price": this.products[index].price
            };
            this.chosenProduct.push(newProduct)
          } else {
            for (const chosenIndexKey of this.chosenProduct) {
              if (chosenIndexKey.id === pId) {
                chosenIndexKey.count += 1
                chosenIndexKey.sum_price = chosenIndexKey.count * chosenIndexKey.price
              }
            }
          }
        }
      }
    },
    goToPay() {
      if (this.chosenProduct.length ===0){
        alert('محصولی را انتخاب نکرده اید.')
        return;
      }

      for (const productsDetailsKey of this.chosenProduct) {
        this.sumPrice += productsDetailsKey.price * productsDetailsKey.count;
      }
      let data = {
        'products': this.chosenProduct,
        'sum_price': this.sumPrice,
      };

      this.order(data)
    },
    async order(data) {
      await axios.post('/order', data).then((res) => {
        this.storeOrder = res.data.message;
        this.storeSuccess = res.data.success;
        if (res.data.code === 491) {
          this.showPastOrder = true;
        }
      }).catch((error) => {
        this.storeOrder = error.response.data.message;
        this.storeSuccess = false;
      })

      alert(this.storeOrder)

      if (this.storeSuccess === true) {
        await router.push({name: "checkout"})
      }
    },
    pastOrder(){
      router.push({name: "checkout"})
    }
  }
}
</script>

<style scoped>
.products {
  font-family: "IranSans";
  background-color: #fff;
  width: 65%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 50px;
  border-radius: 10px;
}

.singleP {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  box-shadow: 10px 10px 2px #E1E1E1;
  padding: 30px;
  margin-bottom: 50px;
  overflow-y: scroll;
}

.details {
  padding: 0 20px 0 20px;
}

.details img {
  width: 8rem;
  height: 6rem;
}
</style>
