<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style scoped>
#app {
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  direction: rtl;
  background-color: #f1f1f1;
}

@font-face {
  font-family: "IranSans";
  src: local("IranSans"),
  url("./assets/fonts/Iranian-Sans.ttf") format("truetype");
}
</style>
