<template>
  <div class="checkout">
    <div class="invoice">
      <h3>فاکتور</h3>
      <hr>
      <div class="invoiceDetails">
        <div class="invoiceDetail1">
          <p>مجموع قابل پرداخت: <span>{{ order.amount }}</span></p>
          <p>نام مشتری: <span>{{ order.customer }}</span></p>
          <p>توضیحات: <span>{{ order.description }}</span></p>
        </div>
        <div class="invoiceDetail2">
          <h3>جزئیات</h3>

          <table>
            <tr>
              <th>نام</th>
              <th>تعداد</th>
              <th>قیمت</th>
              <th>مجموع</th>
            </tr>
            <tr v-for="product in order.products" :key="product.id">
              <td> {{ product.name }}</td>
              <td> {{ product.count }}</td>
              <td> {{ product.price }}</td>
              <td> {{ product.sum_price }}</td>
            </tr>
          </table>
        </div>
      </div>

    </div>


    <div class="checkout">
      <p style="color: #ab0101">در این قسمت با وارد کردن شماره کارتی که قصد خرید با آن را دارید می توانید به درگاه بانک
        هدایت شوید. توجه داشته باشید که در صورت مغایرت شماره کارت وارد شده با شماره کارتی که پرداخت را با آن انجام می
        دهید سفارش شما تکمیل نخواهد شد و خرید شما لغو می گردد.</p>
      <label>شماره کارت خود را جهت پرداخت این سفارش وارد کنید:</label>
      <b-form-input
          id="input-live"
          v-model="cardNumber"
          :state="cardState"
          aria-describedby="input-live-help input-live-feedback"
          placeholder="مثال: 1234567891012345"
          trim
      ></b-form-input>

      <!-- This will only be shown if the preceding input has an invalid state -->
      <b-form-invalid-feedback id="input-live-feedback">
        شماره کارت باید ۱۶ رقمی باشد
      </b-form-invalid-feedback>

      <!-- This is a form text block (formerly known as help block) -->
      <b-form-text id="input-live-help">بدون فاصله و یا علامت اضافه بین اعداد مانند(- یا ـ)</b-form-text>
    </div>

    <div class="btnSection">
      <button class="btn btn-lg btn-info" @click="pay(order.id)">پرداخت</button>
      <button class="btn btn-lg btn-danger" @click="reject">لغو خرید</button>
    </div>

    <div class="payment" v-html="html" v-if="html"></div>

  </div>

</template>

<script>
import axios from "@/axios-project.js"
import router from "@/routes/routes";

export default {
  data() {
    return {
      order: {},
      cardNumber: "",
      html: '',
      redirectURL: '',
    }
  },
  mounted() {
    axios.get('/order').then((res) => {
      this.order = res.data.data
    }).catch((error) => {
      alert(error.response.data.message)
    })
  },
  computed: {
    cardState() {
      return this.cardNumber.length === 16
    }
  },
  methods: {
    reject() {
      axios.get('/order/reject').then((res) => {
        alert(res.data.message);
      }).catch((error) => alert(error.response.data.message));

      router.push({name: "home"})
    },
    pay(id) {
      let data ={
        'card_number' : this.cardNumber
      };
      axios.post('/payment/order/' + id, data)
          .then((res) => {
            this.redirectURL = res.data;
            window.location.href = this.redirectURL;
          }).catch((error) => alert(error.response.data.message))
    }
  }
}
</script>

<style scoped>
.checkout {
  font-family: "IranSans";
  background-color: #fff;
  display: flex;
  justify-content: start;
  text-align: center;
  flex-direction: column;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 50px;
  border-radius: 5px;
}

.invoice {
  margin: 10px;
  border: 1px solid #E1E1E1;
}

.invoiceDetails {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
}

.invoiceDetail1 {
  padding: 30px;
}

.invoiceDetail1 span {
  color: #ab0101;
}

.invoiceDetail2 {
  width: 50%;
  padding: 30px;
  border-right: 1px dotted #E1E1E1;
}

table, th, td {
  padding: 20px;
  border: 1px solid;
  height: 100px;
}

.payment {
  border: 1px solid #E1E1E1;
  background-color: #E1E1E1;
  padding: 10px;
  margin: 10px;
}

.btnSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.btnSection button {
  margin: 0 20px 0 20px;
}
</style>
